<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
  <h1>Bienvenido, {{ user.email }}</h1>
  <ul>
    {{#each products}}
      <li>
        {{this.title}} - Price: {{this.price}}
        <a href="/carts/{{this._id}}/add-to-cart">Add to Cart</a> 
        <a href="/products/{{this._id}}">Details</a> 
      </li>
    {{/each}}
  </ul>

  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Previous</a>
    {{/if}}
    <span>Page {{page}} of {{totalPages}}</span>
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Next</a>
    {{/if}}
  </div>
</body>
</html>
